{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Inpect {{container.ID[:12]}}</h1>

    <p class="lead">Details of {{container.Config.Hostname}}</p>
        <button type="button" class="btn btn-warning">Stop container</button>
        <button type="button" class="btn btn-danger">Kill container</button>
    <a class="pull-right" href="/">back to Dashboard</a>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            <li>Created: {{container.Created}}</li>
            <li>IP: {{container.ip}}</li>
            <li>Services: {{container.services}}</li>
            <li>Image: {{container.Config.Image}}</li>
            <li>ImageId: {{container.Image}}</li>
            <li>Hostname: {{container.Config.Hostname}}</li>
            <li>State:
                <ul>
                    <li>Ghost: {{container.State.Ghost}}</li>
                    <li>PID: {{container.State.Pid}}</li>
                    <li>Running: {{container.State.Running}}</li>
                    {% if not container.State.Running %}
                        <li>Finished: {{container.State.FinishedAt}}</li>
                    {% endif %}
                    <li>Started: {{container.State.StartedAt}}</li>
                </ul>
            </li>
            <li>Env variables:
                <ul>
                {% for variable in container.Config.Env %}
                    <li>{{variable}}</li>
                {% endfor %}
                </ul>
            </li>
        </ul>
               <!-- {{container}} -->
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}