{% extends "base.html" %} {% block content %}
<div class="page-header">
    <h1>Docker Hadoop - Dashboard</h1>
    <p class="lead">Basic overview of Hadoop cluster.</p>
</div>
<div class="row">
    {% if running %}
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Running nodes
                </div>
                <table class="table">
                    <tr>
                        <th>
                            <input type="checkbox">
                        </th>
                        <th>#</th>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    {% for node in running %}
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{loop.index0}}</td>
                            <td><a href="/container/{{node.Id[:15]}}">{{node.Id[:15]}}</a>
                            </td>
                            <td>{{node.Image}}</td>
                            <td>{{node.Status}}</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-pause"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-stop"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <form role="form">
                <div class="form-group">
                    <label for="inputImage">Image</label>
                    <input type="text" class="form-control" id="inputImage" placeholder="vierja/hadoop">
                </div>
                <div class="form-group">
                    <label for="inputHostname">Hostname</label>
                    <input type="text" class="form-control" id="inputHostname" placeholder="hadoop16">
                </div>
                <div class="form-group">
                    <label for="inputIp">IP</label>
                    <input type="text" class="form-control" id="inputIp" placeholder="10.0.10.16">
                </div>

                <div class="form-group">
                    <label>Start service</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">JobTracker
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">NameNode
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">TaskTracker
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">DataNode
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">SecondaryNameNode
                        </label>
                    </div>
                </div>
            <button type="submit" class="btn btn-default">Start</button>
            </form>
        </div>
    {% else %}
        <p class="lead">No cluster running. Start a cluster.</p>
        <div class="col-md-10">
            <form class="form-inline" role="form" action="/" method="POST">
                {% for rownum in range(1,10) %}
                <div class="row form-row">
                        <div class="form-group">
                            <select class="selectpicker" name="image[]">
                                <option selected>vierja/hadoop</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="host[]" class="form-control" placeholder="hadoop{{rownum}}" value="hadoop{{rownum}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ip[]" class="form-control" placeholder="10.0.10.{{rownum}}" value="10.0.10.{{rownum}}">
                        </div>
                        <div class="checkbox">
                            <select class="selectpicker" name="services[]" multiple data-selected-text-format="count>3">
                                <option value="{{rownum}}-JOBTRACKER" {{'selected' if rownum == 1}}>JobTracker</option>
                                <option value="{{rownum}}-NAMENODE" {{'selected' if rownum == 2}}>NameNode</option>
                                <option value="{{rownum}}-SECONDARYNAMENODE" {{'selected' if rownum == 3}}>Secondary NameNode</option>
                                <option value="{{rownum}}-TASKTRACKER" {{'selected' if rownum > 3}}>TaskTracker</option>
                                <option value="{{rownum}}-DATANODE" {{'selected' if rownum > 3}}>DataNode</option>
                            </select>
                        </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-default">Start cluster</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}
