{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Docker Hadoop - Dashboard</h1>
    <p class="lead">Basic overview of Hadoop cluster.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Running nodes</div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for node in running %}
                    <tr>
                        <td>{{loop.index0}}</td>
                        <td><a href="/inspect/{{node.Id[:15]}}">{{node.Id[:15]}}</a></td>
                        <td>{{node.Image}}</td>
                        <td>{{node.Status}}</td>
                        <td><a href="#"><span class="glyphicon glyphicon-pause"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-stop"></span></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <label for="inputImage">Image</label>
                <input type="text" class="form-control" id="inputImage" placeholder="vierja/hadoop">
            </div>
            <div class="form-group">
                <label for="inputHostname">Hostname</label>
                <input type="text" class="form-control" id="inputHostname" placeholder="hadoop16">
            </div>
            <div class="form-group">
                <label for="inputIp">IP</label>
                <input type="text" class="form-control" id="inputIp" placeholder="10.0.10.16">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">JobTracker
                </label>
            </div>
              <div class="checkbox">
                <label>
                    <input type="checkbox">NameNode
                </label>
            </div>
              <div class="checkbox">
                <label>
                    <input type="checkbox">TaskTracker
                </label>
            </div>
              <div class="checkbox">
                <label>
                    <input type="checkbox">DataNode
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">SecondaryNameNode
                </label>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Start</button>
        </form>
    </div>
</div>
{% endblock %}